
body {
    background-image: url(/static/sign_up_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background: purple;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    color: white;
    font-style: oblique;
    font-size: 26px;
    background: inherit;
    border: none;
}

.navbar-default .navbar-nav > li > button {
    color: white;
    background: inherit;
    border: none;
    margin-top: 15px;
    font-style: oblique;
    font-size: 14px;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > button:hover {
    color: white;
    font-weight: bold;
}

#poweredBy {
    margin-top: 10px;
    width: 120px;
}

#main_container {
    text-align: center;
    margin-top: 5%;
}

.formItem {
    margin: 2%;
}

.formItem > input {
    font-style: italic;
    text-align: center;
    font-size: 1.3em;
    width: 30%;
    padding: 7px 20px;
    border: double black;
    border-radius: 9px;
    min-width: 220px;
}

.formItem > button {
    background-color: purple;
    border: none;
    color: white;
    padding: 7px 15px;
    font-size: 23px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 9px;
}

.posts {
    background-attachment: fixed;
    background: rgba(255, 255, 255, 0.77);
    margin: 40px auto;
    padding: 20px;
    color: black;
    text-align: center;
}
