
body {
    background: url("http://ak8.picdn.net/shutterstock/videos/10360958/thumb/4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navbar {
    background: purple;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px;
    color: white;
    font-style: oblique;
    font-size: 26px;
    background: inherit;
    border: none;
}

.navbar-default .navbar-nav > li > button {
    color: white;
    background: inherit;
    border: none;
    margin-top: 15px;
    font-style: oblique;
    font-size: 18px;
    margin-right: 10px;
}

.navbar-default .navbar-nav > li > button:hover {
    color: white;
    font-weight: bold;
}

#poweredBy {
    margin-top: 10px;
    width: 120px;
}