<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <title>BrainzKick - Artist page</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/Artist_style.css">
    <script type="text/javascript" src="../static/artist_js.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Artist_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='artist_js.js') }}"></script>
    <link type="image/png" href="https://image.flaticon.com/icons/png/128/55/55864.png" rel="shortcut icon">


</head>
<body>

<!--the navbar class in bootstrap-->
<nav class="navbar navbar-default">
    <!--gather the insides of the nav in a container-->
    <div class="container">
        <!--giving the header as a link, usually to home page as the brand's name-->
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-brand">BrainzKick</button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling, id matches the data-toggle in the toggle button-->
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <!--adding tags on the left side-->
            <ul class="nav navbar-nav">
                <!--each tag in the navbar-->
                <li>
                    <button class="eventsB">Events</button>
                </li>
                <li>
                    <button class="locationB">Locations</button>
                </li>
                <li>
                    <button class="artistB">Artists</button>
                </li>
                {#                <li>#}
                {#                    <button class="reviewsB">Reviews</button>#}
                {#                </li>#}
            </ul>
            <ul class="navbar-right nav navbar-nav" id="right_nav">
                <li>
                    <button class="signUpB">SignUp</button>
                </li>
                <!-- <li><img class="pull-right" src="../static/powered-by-songkick-white.png" id="poweredBy"></li> -->
                <li><img src="{{ url_for('static', filename='powered-by-songkick-white.png') }}" id="poweredBy"></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="main_container">

    <input id="artist_input" type="text" placeholder="Artist's name" required>
    <button class="get_button" id="artist_btn">Show me!</button>

    <div class="posts"></div>
<!--
    <div id="formContainer">
        <div id="popupContact">
            <h2>Add comment</h2>
            <input id='adding_username' type='text' placeholder='Username' required>
            <input id='adding_password' type='password' placeholder='Password' required>
            <textarea id='adding_comment' placeholder='Comment' rows='5' cols='80'></textarea>
            <select id='adding_rank' required>
                <option value=''>Rank</option>
                <option value='1'>1</option>
                <option value='2'>2</option>
                <option value='3'>3</option>
                <option value='4'>4</option>
                <option value='5'>5</option>
                <option value='6'>6</option>
                <option value='7'>7</option>
                <option value='8'>8</option>
                <option value='9'>9</option>
                <option value='10'>10</option>
            </select>
            <button id="adding_btn">Add</button>
        </div>
    </div>
-->
</div>

</body>
</html>