<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>


    <title>BrainzKick - Locations</title>
    <!--<link rel="stylesheet" type="text/css" href="../static/Locations_style.css">
    <script type="text/javascript" src="../static/locations_js.js"></script> -->
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='Locations_style.css')}}">
    <script type="text/javascript" src="{{url_for('static', filename='locations_js.js')}}"></script>
    <link type="image/png" href="https://image.flaticon.com/icons/png/128/55/55864.png" rel="shortcut icon">


</head>
<body>

<!--the navbar class in bootstrap-->
<nav class="navbar navbar-default">
    <!--gather the insides of the nav in a container-->
    <div class="container">
        <!--giving the header as a link, usually to home page as the brand's name-->
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-brand">BrainzKick</button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling, id matches the data-toggle in the toggle button-->
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <!--adding tags on the left side-->
            <ul class="nav navbar-nav">
                <!--each tag in the navbar-->
                <li>
                    <button class="eventsB">Events</button>
                </li>
                <li>
                    <button class="locationB">Locations</button>
                </li>
                <li>
                    <button class="artistB">Artists</button>
                </li>
                <li>
                    <button class="reviewsB">Reviews</button>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <!--<li><img class="pull-right" src="../static/powered-by-songkick-white.png" id="poweredBy"></li> -->
                <li><img class="pull-right" src="{{url_for('static', filename='powered-by-songkick-white.png')}}" id="poweredBy"></li>

            </ul>
        </div>
    </div>
</nav>


<div class="container" id="main_container">

    <h1>Use our queries engine<br/>&nbsp discover best cities to visit
        <br/>&nbsp&nbsp and let the magic begin...<br/><br/>
    </h1>
    <div class="row">
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query2', this)" id="defaultOpen">The most diverse place yo can
                go
            </button>
        </div>
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query3', this)">All you can get in one month</button>
        </div>
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query4', this)">High season</button>
        </div>

    </div>


    <div id="query2" class="tabcontent">
        <h3><br/>The most diverse place yo can go</h3>
        <p>Discover which city has the largest number of different genres events in any month you want!</p>
        <input id="q2_month" type="month" placeholder="Month - Year" required>
        <button class="get_button" id="q2_get">Show me!</button>
    </div>
    <div id="query3" class="tabcontent">
        <h3><br/>All you can get in one month</h3>
        <p>Discover Which city has the largest number of events in any month you want!</p>
        <input id="q3_month" type="month" placeholder="Month - Year" required>
        <button class="get_button" id="q3_get">Show me!</button>
    </div>

    <div id="query4" class="tabcontent">
        <h3><br/>High season</h3>
        <p>Discover In which city and month you can attend the most events this year</p>
        <button class="get_button" id="q4_get">Show me!</button>
    </div>

    <div class="posts"></div>


</div>


</body>
</html>