<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap_opt_theme.min.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <title>BrainzKick - Events</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Events_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='events_js.js') }}"></script>
    <link type="image/png" href="{{ url_for('static', filename='icon.png') }}" rel="shortcut icon">

</head>
<body>


<!--the navbar class in bootstrap-->
<nav class="navbar navbar-default">
    <!--gather the insides of the nav in a container-->
    <div class="container">
        <!--giving the header as a link, usually to home page as the brand's name-->
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-brand">BrainzKick</button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling, id matches the data-toggle in the toggle button-->
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <!--adding tags on the left side-->
            <ul class="nav navbar-nav">
                <!--each tag in the navbar-->
                <li>
                    <button class="eventsB">Events</button>
                </li>
                <li>
                    <button class="locationB">Locations</button>
                </li>
                <li>
                    <button class="artistB">Artists</button>
                </li>

            </ul>
            <ul class="navbar-right nav navbar-nav" id="right_nav">
                <li>
                    <button class="signUpB">SignUp</button>
                </li>
                <li><img src="{{ url_for('static', filename='powered-by-songkick-white.png') }}" id="poweredBy"></li>
            </ul>
        </div>
    </div>
</nav>


<!-- Main container -->
<div class="container" id="main_container">

    <h1>Use our queries engine<br/>&nbsp discover musical events
        <br/>&nbsp&nbsp and let the magic begin...<br/><br/>
    </h1>
<!-- queries tabs buttons -->
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <button class="tablink" onclick="openQuery('query1', this)" id="defaultOpen">The top ten</button>
        </div>
        <div class="col-lg-4 col-sm-12">
            <button class="tablink" onclick="openQuery('query5', this)">Another one</button>
        </div>
        <div class="col-lg-4 col-sm-12">
            <button class="tablink" onclick="openQuery('query6', this)">We the best</button>
        </div>
    </div>
    <!-- The queries tabs -->
    <div id="query1" class="tabcontent">
        <h3><br/>Best of the month</h3>
        <p>Get the 10 most popular events in any month you want!</p>
        <input id="q1_month" type="month" placeholder="Month - Year" required>
        <button class="get_button" id="q1_get">Show me!</button>
    </div>
    <div id="query5" class="tabcontent">
        <h3><br/>Similar to your favorite</h3>
        <p>Choose your favorite artist and find events of him and others with same style!</p>
        <input id="q5_artist" type="text" placeholder="Artist's name" required>
        <button class="get_button" id="q5_get">Show me!</button>
    </div>

    <div id="query6" class="tabcontent">
        <h3><br/>Top artist's events</h3>
        <p>Check out all the events of the artist who has the highest average rating!</p>
        <button class="get_button" id="q6_get">Show me!</button>
    </div>

<!-- The div the content will be injected to -->
    <div class="posts"></div>


</div>


</body>