<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">

    <!-- Optional theme -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap_opt_theme.min.css') }}">

    <!-- Latest compiled and minified JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>

    <title>BrainzKick - Locations</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Locations_style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='locations_js.js') }}"></script>
    <link type="image/png" href="https://image.flaticon.com/icons/png/128/55/55864.png" rel="shortcut icon">


</head>
<body>

<!--the navbar class in bootstrap-->
<nav class="navbar navbar-default">
    <!--gather the insides of the nav in a container-->
    <div class="container">
        <!--giving the header as a link, usually to home page as the brand's name-->
        <div class="navbar-header">
            <!-- Brand and toggle get grouped for better mobile display -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-nav-demo" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <button class="navbar-brand">BrainzKick</button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling, id matches the data-toggle in the toggle button-->
        <div class="collapse navbar-collapse" id="bs-nav-demo">
            <!--adding tags on the left side-->
            <ul class="nav navbar-nav">
                <!--each tag in the navbar-->
                <li>
                    <button class="eventsB">Events</button>
                </li>
                <li>
                    <button class="locationB">Locations</button>
                </li>
                <li>
                    <button class="artistB">Artists</button>
                </li>
{#                <li>#}
{#                    <button class="reviewsB">Reviews</button>#}
{#                </li>#}
            </ul>
            <ul class="navbar-right nav navbar-nav" id="right_nav">
                <li>
                    <button class="signUpB">SignUp</button>
                </li>
                <li><img src="{{ url_for('static', filename='powered-by-songkick-white.png') }}" id="poweredBy"></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Main container -->
<div class="container" id="main_container">
    <h1>Use our queries engine<br/>&nbsp discover best cities to visit
        <br/>&nbsp&nbsp and let the magic begin...<br/><br/>
    </h1>

<!-- queres tabs buttons -->
    <div class="row">
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query2', this)" id="defaultOpen">The most versatile</button>
        </div>
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query3', this)">Major key</button>
        </div>
        <div class="col-lg-4">
            <button class="tablink" onclick="openQuery('query4', this)">All the way up</button>
        </div>

    </div>

<!-- The queries tabs -->
    <div id="query2" class="tabcontent">
        <h3><br/>The most diverse place you can go</h3>
        <p>Discover which city has the largest number of different genres events in any month you want!</p>
        <input id="q2_month" type="month" placeholder="Month - Year" required>
        <button class="get_button" id="q2_get">Show me!</button>
    </div>
    <div id="query3" class="tabcontent">
        <h3><br/>All you can get in one month</h3>
        <p>Discover Which city has the largest number of events in any month you want!</p>
        <input id="q3_month" type="month" placeholder="Month - Year" required>
        <button class="get_button" id="q3_get">Show me!</button>
    </div>

    <div id="query4" class="tabcontent">
        <h3><br/>High season</h3>
        <p>Discover In which city and month you can attend the most events this year</p>
        <button class="get_button" id="q4_get">Show me!</button>
    </div>

<!-- The div the content will be injected to -->
    <div class="posts"></div>
</div>
</body>
</html>